@model Techtree.Entities.MediaType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MediaType</h4>
    <hr />
    <dl class="row">
        <div class="col-md-4 mx-auto">
            <div class="card mb-3">
                <img src="@Model.ThumbnailImage" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
