<!-- Old -->
@*<li class="nav-item dropdown show">
    <a href="#" class="nav-link dropdown-toggle text-dark" data-toggle="dropdown">Admin</a>
    <div class="dropdown-menu">
        <a href="#" class="dropdown-item">Categories</a>
        <a href="#" class="dropdown-item">Users To Categories</a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">Media Types</a>
    </div>
</li>*@

<!--

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown"> Departments </a>
    <ul class="dropdown-menu fade-up">
        <li><a class="dropdown-item" href="#">Accounts & HR</a></li>
        <li><a class="dropdown-item" href="#"> Production </a></li>
        <li><a class="dropdown-item" href="#"> CNC </a></li>
        <li><a class="dropdown-item" href="#"> Plating </a></li>
        <li><a class="dropdown-item" href="#"> Quality </a></li>
        <li><a class="dropdown-item" href="#"> Main Store </a></li>
        <li><a class="dropdown-item" href="#"> FGS </a></li>
        <li><a class="dropdown-item" href="#"> Security </a></li>
    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown"> Customers </a>
    <ul class="dropdown-menu dropdown-menu-right fade-down">
        <li><a class="dropdown-item" href="#"> MEL</a></li>
        <li><a class="dropdown-item" href="#"> AHL </a></li>
        <li><a class="dropdown-item" href="#"> BEI</a></li>
        <li><a class="dropdown-item" href="#"> Misc. </a></li>
    </ul>
</li>
    
-->


<!-- Admin Menu Dropdown -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown"> Admin </a>
    <ul class="dropdown-menu fade-up">
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Categories</a></li>
        <li><a class="dropdown-item" href="#"> Users To Categories </a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" href="#"> Media Types </a></li>
    </ul>
</li>