<!-- Admin Menu Dropdown -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown"> Admin </a>
    <ul class="dropdown-menu fade-up">
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Categories</a></li>
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="CategoryItem" asp-action="Index"> Users To Categories </a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="MediaType" asp-action="Index"> Media Types </a></li>
    </ul>
</li>